.contact {
    padding-top: 100px;
    h2 {
        font-size: 30px;
        font-family: 'Open Sans Bold';
        text-transform: uppercase;
        color: $black;
    }
    p {
        margin: 43px 0;
        max-width: 700px;
        color: #6c7279;
        font-size: 13px;
        

    }
    form {
        width: 100%;
        max-width: 700px;
        
        
        input {
            font-size: 15px;
            width: 100%;
            outline: none;
            display: block;
            margin-bottom: 30px;
            color: #797979;
            padding: 15px 30px;
            border: none;
            border-bottom: 1px solid #e3e3e3;
        }

        .textfield {
            height: 150px;
            
        }
        
        button {
            border-radius: 2px;
            font-size: 13px;
            text-transform: uppercase;
            color: #fff;
            margin-top: 30px;
            padding: 15px 30px 15px 30px;
            border: none;
            outline: none;
            background-color: $button-bgc;
            font-family: 'Open Sans SemiBold';
            letter-spacing: 5px;
            &:hover {
                background-color: $button-hover-bgc;
            }
        }
    }
}