header {
    z-index: 100;
    .logo {
        content: url('../images/logo.png');
    }
    
    transition: padding 200ms linear;
    position: fixed;
    padding-top: 3rem;
    padding-bottom: 3rem;
    left: 0;
    top: 0;
    width: 100%;
     .wrapper {
         max-width: 1200px;
         margin: 0 auto;
     }
    
     .nav {
        font-size: 13px;
        padding: 0;
        margin: 0;
        text-transform: uppercase;

        .nav-link {
            display: none;
            font-family: 'Open Sans Bold';
            color: rgba(255, 255, 255, 0.75);
            
            a:hover {
                transition: color 200ms linear;
                color: white;
            }

            
        }

    }

    .mobile-nav {
        padding-left: 0;
        text-transform: uppercase;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(5, 5, 5, 0.884);
        font-size: 1.5rem;
        color: white;
        z-index: 8;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-out, visibility 0.3s ease-out;

        .nav-link {
            margin: 7px auto;
            a {
                color: $main-grey;
                transition: color 200ms ease-in-out;
                font-family: 'Open Sans Bold';
                &:hover {
                color: #fff;
                }
            }
            
        }

    }
    .hamburger-menu {
        height: 44px;
        width: 44px;
        border-radius: 50%;
        background-color: $red;
        
        position: relative;
        transition: all 200ms ease-in-out;
        cursor: pointer;
        z-index: 10;
        

        .hamburger-menu-btn {
            transition: all 200ms ease-in-out;
            height: 4px;
            width: 20px;
            background-color: white;
            position: relative;
            
            &::before, &::after {
                transition: all 200ms ease-in-out;
                position: absolute;
                content: '';
                height: 2px;
                width: 20px;
                background-color: white;
            }

            &::before {
                transform: translateY(-6px);
            }
            &::after {
                transform: translateY(7px);
            }


        }
    }
    // Burger Menu Animation

    .hamburger-menu.open {
        .hamburger-menu-btn {
            background: transparent;
            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }

        }
        
    }
}
                
header.bg {
    .nav {
        a:hover {
            color: $black2;
        }
    }
    background-color: #fff;
    *{color: $black2;}
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    .logo {
        content: url('../images/logo-fixed.png');
    }
}
